<div class="navbar">
	<span class="tm"><a href="/">HakimCodez</a></span>
	<span class="menu">
		<a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
		<a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
		<a class="<%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
		<a class="<%= path === '/policy' ? 'active' : '' %>" href="/policy">Policy</a>
	</span>
</div>