<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('partials/font') %>
	<title>404 Not Found</title>
<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<%- include('partials/header') %>
	<div class="container-error">
		<h1>404 Not Found<br>
			<span>Path or file not found</span></h1>
		
	</div>
</body>
</html>