<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HakimCodez | About</title>
<%- include('partials/font') %>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<style>
		p,h1{
			padding: 0;
			margin: 0;
		}
		h1 + p{
			line-height: 25px;
			text-align: justify;
		}
		h1{
			margin-top: 30px;
			margin-bottom: 12px;
		}
		.container{
			margin: 0 auto;
			max-width: 500px;
			padding: 0 60px;
			padding-top: 20px;
			position: relative;
		}
		.container2{
			margin: 0 auto;
			max-width: 500px;
			padding: 0 60px;
			padding-top: 20px;
		}
		.container2 li{
			line-height: 25px;
		}
	</style>
</head>
<body>
<%- include('partials/header') %>

<div class="container">
	<h1>About Chat App</h1>
	<p>Pastikan baca <a href="/policy" style="font-size: 15px;">Policy</a> sebelum mula guna Chat App. Anda hanya boleh berbual dengan pengguna yang sedang online saja, perbualan tidak disimpan dan log. Setiap mesej anda dirahsiakan. Orang lain akan melihat anda sebagai "Unknown&lt;number&gt;" contoh "Unknown 1". Anda tidak tahu siapa yang sedang chat dengan kamu begitu juga mereka.</p>
	<span style="opacity: 0.04;user-select: none;filter:blur(7px);position:absolute">Qv zngn benat anzcnx ovnfn,
Obyru zravch benat qvzhxn,
Benat gnx gnuh xnh qnu ovnfn,
Fhxn qv chwn ovyn cvagh greohxn (Pusing lah 13)</span>
</div>

<div class="container" style="padding-top: 10px">
	<h1>About me</h1>
	<p>Hai! Saya Hakim. Saya seorang pelajar dan jurutera yang suka bermain dengan kod, membina projek web, dan belajar teknologi baru. Selamat datang ke portfolio saya—di sini anda boleh lihat projek dan minat saya dalam dunia IT</p>
</div>

<div class="container2">
	<h1>Projects</h1>
	<ol style="padding-left: 20px;">
		<li>Python Cybersecurity and Hacking tools</li>
		<li>Chat App (Websocket)</li>
		<li>Websites (PHP, Nodejs Express, Python Flask, Hardcoded Html, Reactjs)</li>
		<li>Backend System (exp: Vending Machine, Banking system, Security Door, Machine learning, Application Programming Interface API)</li>
	</ol>
</div>
</body>
</html>