*{
	font-family: "Inter",arial,sans-serif;
	color: floralwhite;
}
body{
	padding: 0;
	padding-top: 47px;
	margin: 0;
	background-color: #212121;
}
.container{
	padding: 20px;
}
span.name{
	color:#00FFC4;
	font-weight: bold;
}
.op{
	color:red;
	font-weight: bold;
}
span:has(.op){
	color: yellow;
	background-color:#222;
}
#info span{
	font-family: monospace;
	background-color: black;
	color: green;
	padding: 7px;
	border-radius: 6px;
}
#form{
	display: none;
	position:fixed;
	bottom:8px;
	left:0;
	right:0;
}
a{
	font-size: 14px;
	color: blue;
}
span.animate a{
	font-size: 16px;
}
.navbar{
	display: flex;
	background-color: #6B6B6B;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}
.navbar .tm a{
	text-decoration: none;
	display: inline-block;
	color: white;
	transform: translateY(-2px);
	font-size: 20px;
}
.navbar .tm a:hover{
	color: royalblue;
}
.navbar .menu a{
	line-height: 35px;
	box-sizing: border-box;
	display: inline-block;
	padding: 7px;
	height: 50px;
	background-color: inherit;
	text-decoration: none;
	color: cyan;
}
.navbar .menu a:hover{
	color: black;
	background-color: lime;
}
.input{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.input #form #text{
	padding: 10px;
	color: black;
	border-radius: 45px 0 0 45px;
	outline: none;
	border: none;
	margin: 0;
}

#form #btn{
	color: black;
	padding: 10px;
	border:none;
	margin: 0;
	border-radius: 0 45px 45px 0;
	width: 90px;
	text-align: center;
	cursor: pointer;
	transform: translateX(-5px);
	background-color: #66B2FF;
}
#form #btn:hover{
	background-color: #004C99;
}
#chat {
	margin-top: 20px;
	display: block;
	padding: 5px 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #151515;
	height: 70vh;
	border-radius: 12px;
	padding-bottom: 20px;
	overflow-y:auto;
	overflow-wrap:anywhere;
}
.animate{
	animation: slide .3s ease-out 1 forwards;
	display: inline-block;
	transform-origin: left bottom;
	padding: 5px;
	background-color: #706D7A;
	border-radius: 5px;
	margin: 5px 0;
	box-shadow: 0 5px 5px rgba(255,255,255,0.1);
}
@keyframes slide{
	0%{
		transform: translateX(-100px) rotate(-10deg);
		opacity: 0;
	}100%{
		transform: translateX(0px) rotate(0deg);
		opacity: 1;
	}
}
.delay{
	animation-delay: 2s;
}
.navbar .menu .active{
	background-color: gold;
	color: black;
}
.container-error{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;

}
.container-error h1{
	color: red;
	background-color: #181818;
	border-radius: 14px;
	padding: 8px 17px;
	text-align: center;
}
h1 span{
	font-size: 17px;
}
